
body {
    font-family: Arial, sans-serif;
    background-color: var(--colore-quarto);
    color: var(--colore-terziario);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1, h2, h3 {
    color: var(--colore-primario);
}

a {
    color: var(--colore-secondario);
    text-decoration: none;
}

a:hover {
    color: var(--colore-primario);
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.card h2 {
    color: var(--colore-primario);
}

.card p {
    color: var(--colore-terziario);
}

.logo {
    margin: 20px 0;
}

.carousel-container {
    position: relative;
    max-width: 80%;
    margin: 50px auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 1.2s ease-in-out;
    gap: 10px;
    width: 300%; /* 3 pagine di immagini */
}

.carousel img {
    width: calc(100% / 3);
    height: auto;
    max-height: 400px;
    padding: 20px auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev { left: 30px; }
.next { right: 30px; }
