.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #007BFF;
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 90%;
}

.logo-container {
    flex: 1;
}

.logo {
    height: 50px;
    border-radius: 10px;
}

.navigation {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background 0.3s ease;
}

.nav-link:hover {
    background-color: #0056b3;
}
