body {
    font-family: Arial, sans-serif;
    background-color: var(--colore-quarto);
    color: var(--colore-terziario);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    min-width: 300px;
}

h1, h2, h3 {
    color: var(--colore-primario);
    margin-bottom: 20px;
}

a {
    color: var(--colore-secondario);
    text-decoration: none;
}

a:hover {
    color: var(--colore-primario);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

label {
    font-weight: bold;
    color: var(--colore-primario);
}

input[type="date"], input[type="checkbox"] {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 80%;
}

button {
    background-color: var(--colore-primario);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: var(--colore-terziario);
}

#results {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.card h2 {
    color: var(--colore-primario);
}

.card p {
    color: var(--colore-terziario);
    margin: 10px 0;
}

.logo {
    margin: 20px 0;
}

.carousel-container {
    position: relative;
    max-width: 80%;
    margin: 50px auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 1.2s ease-in-out;
    gap: 10px;
    width: 300%; /* 3 pagine di immagini */
}

.carousel img {
    width: calc(100% / 3);
    height: auto;
    max-height: 400px;
    padding: 20px auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev { left: 30px; }
.next { right: 30px; }
