<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/stylesheet/hompage.css">
</head>
<body>
    <div class="container">
        <h1>Benvenuto</h1>
        <div class="cards">
            <div class="card" onclick="location.href='/prenota'">
                <h2>Effettua una Prenotazione</h2>
                <p>Compila il modulo per prenotare una stanza.</p>
            </div>
            <div class="card" onclick="location.href='/ricerca'">
                <h2>Cerca una Prenotazione</h2>
                <p>Inserisci i dettagli per trovare una prenotazione esistente.</p>
            </div>
        </div>
    </div>
</body>
</html>
